<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Git Workshop header template</title>
  <meta name="description" content="Medius Git header template">
  <meta name="author" content="Medius">

  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="header_logo_container">
        <img class="header_image" src="../assets/logo.png" alt="Something went wrong :(">
        <h1>Warsztaty git</h1>
        <h3>Kraków 10.10.2018r</h3>
    </div> 
</body>
</html>